<p class="title is-3">Admin Panel</p>
<p class="subtitle is-5">From here you can manage your contest</p>
<div class="columns">
    <div class="column is-3">
        <aside class="menu">
            <p class="menu-label">Resources</p>
            <ul class="menu-list">
                <li><a href=<%= admin_user_path(@conn, :index) %>>Users</a></li>
                <li><a href=<%= admin_challenge_path(@conn, :index) %>>Challenges</a></li>
            </ul>
        </aside>
    </div>
</div>
