<div class="jumbotron">
  <h2>Admin Panel</h2>
  <p class="lead">From here you can manage your contest</p>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href=<%= admin_user_path(@conn,:index) %>>Users</a>
      </li>
      <li>
        <a href=<%= admin_challenge_path(@conn,:index) %>>Challenges</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
    </ul>
  </div>
</div>
