<% user = current_user(@conn) %>

<p class="title is-3">Welcome Challenger <%= user.name %>!</p>
<p class="subtitle is-5">Good luck and have fun!</p>
<hr/>

<ul>
    <%= for challenge <- @challenges do %>
        <li>
            <%= link challenge.name, to: dashboard_challenge_path(@conn, :show, challenge) %>
        </li>
    <% end %>
</ul>
